@media only screen and (max-width: 680px) {
   .row {
    flex-direction: column;
   }

   .form-input {
    font-size: 1em;
   }

   section.contact div.row {
    margin: 0%;
   }

   section.contact div.row div.col {
    margin-top: 5%;
   }

   section.contact div.row div.col button {
        margin-left: 70%;
   }

   section p.sub {
    margin-bottom: 5%;
    font-size: 1em;
   } 

   section.portfolio div.row div.col {
    margin: 1% 0%;
   }

   .row-2 {
    flex-direction: column;
   }

   .row-2 .col-2 {
    margin-bottom: 7%;
   }

   section.about div.row div.col-2 {
    padding: 1%;
   }

   
    footer div.col div.contact a {
        display: inline-block;
    }

   footer {
    margin-top: 10%;
   }

   footer div.col div.links a {
    font-size: 1em;
   }

   footer div.col div.contact a {
    font-size: 1em;
   }

   footer div.col img {
    height: 50px;
   }

   
section.about div.row div.col-2 p {
    font-size: 1em;
    margin-top: 5%;
}

   section.services div.row {
    margin-top: 0%;
   }

   .col {
    margin-bottom: 5%
   }

   header nav img {
    height: 24px;
   }

   section.hero div.row div.col h1 {
        font-size: 30px;
    }

    section.hero div.row div.col img {
        height: 330px;
    }

    section.services div.row div.col {
        min-height: 320px;
    }
}

@media only screen and (max-width: 1200px) and (min-width: 900px){
    section.hero div.row div.col h1 {
        font-size: 40px;
    }

    section.hero div.row div.col img {
        height: 520px;
    }

    section.services div.row div.col {
        min-height: 400px;
    }

    section.about div.row div.col-2 {
        flex: 2;
        padding-left: 7%;
    }
}

@media only screen and (max-width: 860px) and (min-width: 690px) {
    section.hero div.row div.col h1 {
        font-size: 60px;
    }

    section.hero div.row div.col img {
        height: 580px;
        
    }
    .row {
        flex-direction: column;
       }
    
       .form-input {
        font-size: 1em;
       }
    
       section.contact div.row {
        margin: 0%;
       }
    
       section.contact div.row div.col {
        margin-top: 5%;
       }
    
       section.contact div.row div.col button {
            margin-left: 70%;
       }
    
       section p.sub {
        margin-bottom: 5%;
        font-size: 1em;
       } 
    
       section.portfolio div.row div.col {
        margin: 1% 0%;
       }
    
       .row-2 {
        flex-direction: column;
       }
    
       .row-2 .col-2 {
        margin-bottom: 7%;
       }
    
       section.about div.row div.col-2 {
        padding: 1%;
       }
    
       
        footer div.col div.contact a {
            display: inline-block;
        }
    
       footer {
        margin-top: 10%;
       }
    
       footer div.col div.links a {
        font-size: 1em;
       }
    
       footer div.col div.contact a {
        font-size: 1em;
       }
    
       footer div.col img {
        height: 50px;
       }
    
       
    section.about div.row div.col-2 p {
        font-size: 1em;
        margin-top: 5%;
    }
    
       section.services div.row {
        margin-top: 0%;
       }
    
       .col {
        margin-bottom: 5%
       }
    
       header nav img {
        height: 24px;
       }

       section.about h3 {
        font-size: 20px;
       }
    
}

@media only screen and (max-width: 360px) {
    section.about h3 {
        font-size: 20px;
    }
    
    section.hero {
        padding-top: 25%;
    }

    section.hero div.row div.col h1 {
        font-size: 26px;
    }

    section.hero div.row div.col h4 {
        font-size: 18px;
    }

    section.hero div.row div.col h3 {
        font-size: 25px;
    }

    section.hero div.row div.col img {
        height: 300px;
    }
    
    .btn-normal {
        font-size: 1rem;
    }
}
