* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

header {
    background: url("./Img/Logo/bg.png");
    background-size: cover;
    padding: 1% 3% ;
}

header nav {
    padding: 3% 0% ;
}

header nav ul {
    display: flex;
}

header nav ul div#div {
    margin-right: 15%;
}

header nav ul img{
    max-height: 50px;
}

header nav ul li{
    list-style: none;
    margin-left: 3%;
}

header nav ul li a#a {
    color: white;
    font-family: sans-serif;
    font-weight: bold;
    font-size: 1.1em;
    transition: color 0.3s ease-in-out;
}

header nav ul li a#a:hover {
    color: rgb(2, 129, 140);
}

header nav ul li a#a:focus {
    color: rgb(2, 129, 140);
}

header nav ul li.li {
    margin-left: 15%;
}

header nav ul li.li a.a {
    color: white;
    font-family: sans-serif;
    font-weight: bold;
    font-size: 1.1em;
    transition: 0.3s ease-in-out;
    padding: 0.7em 1em;
    background: rgb(2, 129, 140);
    border-radius: 10px;
    border: 2px solid transparent;
}

header nav ul li.li a.a:focus {
    background: transparent;
    border-color: rgb(2, 129, 140);
}

header nav ul li.li a.a:hover {
    background: transparent;
    border-color: rgb(2, 129, 140);
}

/* styling for hero section */

header section.hero {
    font-family: sans-serif;
}

header section.hero div.row{
    display: flex;
    flex-wrap: wrap;
}

header section.hero div.row div.col {
    color: #cfcfcf;
    flex: 1;
}

header section.hero div.row div.col h4 {
    font-size: 25px;
    padding: 1% 0%;
}

header section.hero div.row div.col h3 {
    font-size: 30px;
    padding-bottom: 3%;
}

header section.hero div.row div.col h1 {
    font-size: 60px;
    color: #02818c;
    padding-bottom: 3%;
}

header section.hero div.row div.col div.social-links {
    padding-bottom: 3%;
}

header section.hero div.row div.col div.btn {
    padding-bottom: 3%;
}

header section.hero div.row div.col div.btn button {
    background: transparent;
    border: 2px solid #02818c;
    color: #fff;
    cursor: pointer;
    transition: background 0.3s ease-in-out;
}

header section.hero div.row div.col div.btn button  a {
    color: #fff;
}

header section.hero div.row div.col div.btn button:hover {
    background: #02818c;
}

header section.hero div.row div.col div.btn button:focus {
    background: #02818c;
}

header section.hero div.row div.col img {
    height: 614px;
}

header section.hero div.row div.col div.experience {
    background: #00000093;
    border-radius: 5px;
    width: fit-content;
    display: flex;
    flex-wrap: wrap;
    padding: 2%;
}

header section.hero div.row div.col div.experience div.col {
    width: fit-content;
    padding: 1% 5%;
    flex: 1;
    font-weight: bold;
}

header section.hero div.row div.col div.experience div.border-1 {
    border-radius: 2px;
    border-right: 2px solid #cfcfcf;
}

header section.hero div.row div.col div.experience p.num {
    color: #02818c;
    padding-bottom: 2%;
}

/* stylingfor services */
section.services {
    padding: 3%;
    text-align: center;
    font-family: sans-serif;
}

section.services h2 {
    font-size: 50px;
    font-weight: bolder;
}

section.services  p {
    font-size: 1.3em;
    font-weight: bold;
}

section.services div.row {
    display: flex;
    flex-wrap:wrap;
    align-items: center;
    align-content: center;
    margin: 5% 0% 0%;
}

section.services div.row div.col {
    flex: 1;
    padding: 2%;
    margin-right: 2%;
    border-radius: 10px;
    background: #494949;
    transition: background 0.3s ease-in-out;
}

section.services div.row div.col:hover {
    border: 2px solid #02818c;
    background: transparent;
}


section.services div.row div.col div.icon {
    margin-bottom: 3%;
}

section.services div.row div.col h4 {
    font-size: 30px;
    color: #02818c;
    margin-bottom: 3%;
}

section.services div.row div.col p {
    font: 1em sans-serif;
}

/* styling for about */
section.about {
    padding: 3%;
    text-align: center;
    font-family: sans-serif;
}

section.about h2 {
    font-size: 50px;
    font-weight: bolder;
}

section.about  p {
    font-size: 1.3em;
    font-weight: bold;
}

section.about div.row {
    display: flex;
    flex-wrap: wrap;
    margin: 5%  5% 5% 0%;
    align-items: center;
} 

section.about div.row div.col-1 {
    flex: 1;
}

section.about div.row div.col-2 {
    flex: 2;
    padding-right: 7%;
}

section.about div.row div.col-1 img {
    height: 550px;
}

section.about div.row div.col-2 p {
    font-weight: normal;
    color: #cfcfcf;
    margin-bottom: 10%;
}

section.about div.row div.col-2 button {
    background: transparent;
    border: 2px solid #02818c;
    transition: background 0.3s ease-in-out;
}

section.about div.row div.col-2 button:hover {
    background: #02818c;
}

section.about div.row div.col-2 button:focus {
    background: #02818c;
}

section.about div.row div.col-2 button a{
    color: #fff;
}

section.about div.row-2 {
    display: flex;
    flex-wrap: wrap;
}

section.about h3 {
    text-align: left;
    font-size: 30px;
}

section.about div.row-2 div.col-2 {
    flex: 1;
    text-align: left;
    margin-top: 3%;
}

section.about div.row-2 div.col-2 h4 {
    font-size: 25px;
    margin-bottom: 3%;
}

section.about div.row-2 div.col-2 div.sub-col {
    margin-bottom: 2%;
}

section.about div.row-2 div.col-2 div.sub-col p {
    font-size: 1em;
}

section.about div.row-2 div.col-2 div.sub-col div.bg-progress {
    height: 10px;
    width: 80%;
    background: #494949;
    margin-top: 2%;
}

section.about div.row-2 div.col-2 div.sub-col div.in-progress {
    height: 10px;
    background: #02818c;
}

/* styling for portfolio */
section.portfolio {
    padding: 3%;
    text-align: center;
    font-family: sans-serif;
}

section.portfolio h2 {
    font-size: 50px;
    font-weight: bolder;
}

section.portfolio div.row {
    display: flex;
    flex-wrap: wrap;
    margin-top: 5%;
}

section.portfolio div.row div.col {
    flex: 1;
    text-align: left;
    border-radius: 10px;
    padding-bottom: 1%;
    margin-right: 1.5%;
    background: #3a3a3a;
    transition: background 0.3s ease-in-out;
}

section.portfolio div.row div.col:hover {
    background: #02818c;
}

section.portfolio div.row div.col img {
    width: 100%;
    border-radius: 10px 10px 0px 0px;
}

section.portfolio div.row div.col a {
    color: #fff;
    padding: 2%;
    width: 100%;
    font-weight: bold;
    font-size: 1.2em;
}

/* styling for contact */
section.contact {
    padding: 3%;
    text-align: center;
    font-family: sans-serif;
}

section.contact h2 {
    font-size: 50px;
    font-weight: bolder;
}

section.contact  p {
    font-size: 1.3em;
    font-weight: bold;
    color: #cfcfcf;
}

section.contact div.row {
    margin-top: 5%;
    display: flex;
    padding: 0% 10%;
    flex-wrap: wrap;
}

section.contact div.row div.col {
    flex: 1;
    padding: 0% 4%;
}

section.contact div.row div.col button {
    background: transparent;
    border: 2px solid #cfcfcf;
    color: #fff;
    margin-left: 80%;
    transition: background 0.3s ease-in-out;
}

section.contact div.row div.col button:hover {
    background: #02818c;
    border: none;
}

section.contact div.row div.col button:focus {
    background: #02818c;
    border: none;
}

/* styling for footer */
footer {
    background: #272727;
    padding: 5% 5% 1% 5%;
    font-family: sans-serif;
    color: #cfcfcf;
}

footer div.col {
    display: block;
    text-align: center;
}

footer div.col  img {
    width: 250px;
}

footer div.col  div.links {
    margin: 2% 0%;
}

footer div.col div.links a {
    color: #fff;
    font-weight: bold;
    font-size: 1.2em;
}

footer div.col div.contact {
    margin: 3% 0%;
}

footer div.col div.contact a {
    color: #fff;
    font-size: 1.3em;
    font-weight: bold;
} 

footer div.col p {
    font-weight: bold;
    color: #494949;
}